<!DOCTYPE html>
<html lang="zh">
<head>
	<meta charset="UTF-8" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	<meta http-equiv="X-UA-Compatible" content="ie=edge" />
	<title>Document</title>
    <!-- Bootstrap css -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/css/bootstrap.min.css" rel="stylesheet">
    <!-- kendo ui css -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.common.min.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/styles/kendo.default.min.css" rel="stylesheet">
    <!-- font-awesome -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/assets/fontawesome/css/font-awesome.css" rel="stylesheet">
    <!--蓝鲸提供的公用样式库 -->
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk.css" rel="stylesheet">
    <link href="https://magicbox.bk.tencent.com/static_api/v3/bk/css/bk_pack.css" rel="stylesheet">
    <link href="${STATIC_URL}css/local.css" rel="stylesheet">
    <!-- 如果要使用Bootstrap的js插件，必须先调入jQuery -->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/js/jquery-1.10.2.min.js"></script>
    <!-- 包括所有bootstrap的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/bootstrap-3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.8.0/Chart.js"></script>
    <script src="http://cdn.highcharts.com.cn/highcharts/highcharts.js"></script>
    <!-- 包括所有kendoui的js插件或者可以根据需要使用的js插件调用　-->
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/kendoui-2015.2.624/js/kendo.all.min.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/assets/echarts-2.0/echarts-all.js"></script>
    <script src="https://magicbox.bk.tencent.com/static_api/v3/bk/js/bk.js"></script>
    <!-- 数据埋点统计 -->
    <script src="http://magicbox.bk.tencent.com/static_api/analysis.js"></script>
    <script>
        var app_id ="${APP_ID}"
        var site_url = "${SITE_URL}"
        var static_url = "${STATIC_URL}"
    </script>
    <style>


    </style>
    <script src="${STATIC_URL}js/settings.js?v=${STATIC_VERSION}" type="text/javascript"></script>
</head>
<body>
	<div class="king-widget9">
    <div class="king-widget9-content one ">
        <div class="clearfix">
            <div class="king-text-wrap">
                <h2 id="count_server"></h2>
                <div class="text-wrap">
                    <div class="text-wrap-left">
                        <p id="normal_server">正常:</p>
                        <p id="warn_sever">告警:</p>
                        <p id="abnormal_server">故障:</p>
                    </div>
                    <div class="text-wrap-right">
                    </div>
                </div>
            </div>
            <div class="king-icon-wrap">
                <span class="king-widget-warning">
                       <i class="fa fa-desktop"></i>
                   </span>
                <h5>服务器状态</h5>
            </div>
        </div>

    </div>
    <div class="king-widget9-content">
        <div class="clearfix">
            <div class="king-text-wrap">
                <h2 id="count_network_server"></h2>
                <div class="text-wrap">
                    <div class="text-wrap-left">
                        <p id="normal_network_server">正常：</p>
                        <p id="warn_network_sever">告警：</p>
                        <p id="abnormal_network_server">故障：</p>
                    </div>
                </div>
            </div>
            <div class="king-icon-wrap">
                <span class="king-widget-success">
                       <i class="fa fa-wifi"></i>
                   </span>
                <h5>网络设备</h5>
            </div>
        </div>
    </div>
    <div class="king-widget9-content">
        <div class="clearfix">
            <div class="king-text-wrap">
                <h2>1个</h2>
                <div class="text-wrap">
                    <div class="text-wrap-left">
                        <p>正常：1</p>
                        <p>告警：0</p>
                        <p>故障：0</p>
                    </div>
                </div>
            </div>
            <div class="king-icon-wrap">
                <span class="king-widget-danger">
                       <i class="fa fa-briefcase"></i>
                   </span>
                <h5>业务系统</h5>
            </div>
        </div>
    </div>
    <div class="king-widget9-content">
        <div class="clearfix">
            <div class="king-text-wrap">
                <h2>1个</h2>
                <div class="text-wrap">
                    <div class="text-wrap-left">
                        <p>正常：1</p>
                        <p>告警：0</p>
                        <p>故障：0</p>
                    </div>
                </div>
            </div>
            <div class="king-icon-wrap">
                <span class="king-widget-info">
                       <i class="fa fa-arrow-circle-up"></i>
                   </span>
                <h5>数据库系统</h5>
            </div>
        </div>
    </div>
</div>
<div style="padding-top: 20px;">
<div  class="two" style="width: 100px; border-bottom: 5px red solid; display: inline; float: left;"></div>
<div  class="three" style="width: 100px; border-bottom: 5px red solid; display: inline;float: right;" ></div>
</div>
<div class="" style="padding-top: 20px;">
        <div class="king-container clearfix four" >
            <div class="container-fluid mb0 ">
                <div class="row">
                     <div class="col-md-4">
                        <canvas id="myChart_yewu"></canvas>
                    </div>
                    <div class="col-md-4">
                        <canvas id="myChart"></canvas>
                    </div>
                    <div class="col-md-4">
                        <canvas id="myChart_shujuku"></canvas>
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="center-block" style="text-align: center; font-family: '楷体';color: white;"><h1>利用率实时排行</h1></div>
   <div class="king-container clearfix four">
            <div class="container-fluid mb0 ">
                <div class="row">
                    <div class="col-md-4">
                        <div class="king-block king-block-themed bk-ranger-box mb10" id="wangluo_cpu">
                            <div class="king-block-header ">
                                <h3 class="king-block-title pt10 pb10">
                                    <span class="fa fa-bar-chart mr5"></span>网络设备CPU</h3>
                            </div>
                            <div class="ranger-wrapper">
                                <table class="mb0 pr15 ranger-header-box color">
                                    <thead class="font">
                                    </thead>
                                </table>
                                <div style="height:203px; overflow: auto;" class="ranger-box">
                                    <table class="font mb0" style="width: 100%;max-width: 100%">
                                        <tbody id="">
                                        <tr>
                                            <td>暂无数据</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 设置面板Start -->
                        <template id="list2_header_tpl">
                            <tr>
                                <th class="p15 font" style="width: 10%">排名</th>
                                <th class=" font" style="width: 30%">设备IP</th>
                                <th class=" font" style="width: 30%">CPU利用率</th>
                                <th class=" font" style="width: 30%">内存利用率</th>
                            </tr>
                        </template>
                        <template id="cpu_tpl" style="background: rgba(0,0,0,0)">
                            <tr>
                                <td class="p15" style="width: 10%">#index#</td>
                                <td style="width: 30%">#ip#</td>
                                <td style="width: 30%">#value#%</td>
                                <td style="width: 30%">暂未获取</td>
                            </tr>
                        </template>
                        <!-- 设置面板End -->
                        <div class="col-md-4">
                        <div class="king-block king-block-themed bk-ranger-box mb10" id="flow_sum">
                            <div class="king-block-header ">
                                <h3 class="king-block-title pt10 pb10">
                                    <span class="fa fa-bar-chart mr5"></span>流量排行</h3>
                            </div>
                            <div class="ranger-wrapper">
                                <table class="mb0 pr15 ranger-header-box color">
                                    <thead class="font">
                                    </thead>
                                </table>
                                <div style="height:203px; overflow: auto;" class="ranger-box">
                                    <table class="font mb0" style="width: 100%;max-width: 100%">
                                        <tbody id="">
                                        <tr>
                                            <td>暂无数据</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 设置面板Start -->
                        <template id="server_flow_header_tpl">
                            <tr>
                                <th class="p15">排名</th>
                                <th >服务器IP</th>
                                <th>进流量</th>
                            </tr>
                        </template>

                        <template id="flow_tpl" style="background: rgba(0,0,0,0)">
                            <tr>
                                <td class="p15" style="width:20%;">#index#</td>
                                <td style="width:40%;">#ip#</td>
                                <td>#value#kb</td>
                            </tr>
                        </template>
                        <template id="list2_nodata_tpl">
                            <tr>
                                <td colspan="3">
                                    <p class="bk-nodata-tip">暂时没有数据</p>
                                </td>
                            </tr>
                        </template>
                    <div class="col-md-4">
                        <div class="king-block king-block-themed bk-ranger-box mb10" id="disk_sum">
                            <div class="king-block-header ">
                                <h3 class="king-block-title pt10 pb10">
                                    <span class="fa fa-bar-chart mr5"></span>存储空间排行</h3>
                            </div>
                            <div class="ranger-wrapper">
                                <table class="mb0 pr15 ranger-header-box color">
                                    <thead class="font">
                                    </thead>
                                </table>
                                <div style="height:203px; overflow: auto;" class="ranger-box">
                                    <table class="font mb0" style="width: 100%;max-width: 100%">
                                        <tbody id="">
                                        <tr>
                                            <td>暂无数据</td>
                                        </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- 设置面板Start -->
                        <template id="server_header_tpl">
                            <tr>
                                <th class="p15 font" style="width:20%;">排名</th>
                                <th class=" font" style="width:40%;">服务器IP</th>
                                <th class=" font">磁盘剩余大小</th>
                            </tr>
                        </template>

                        <template id="server_tpl" style="background: rgba(0,0,0,0)">
                            <tr>
                                <td class="p15" style="width:20%;">#index#</td>
                                <td style="width:40%;">#ip#</td>
                                <td>#value#G</td>
                            </tr>
                        </template>
                        <template id="list2_nodata_tpl">
                            <tr>
                                <td colspan="3">
                                    <p class="bk-nodata-tip">暂时没有数据</p>
                                </td>
                            </tr>
                        </template>
                    </div>
                    </div>
                </div>

</body>
</html>
<script>
     function count() {
         $.get('${SITE_URL}get_count/')
         $.get('${SITE_URL}get_network_server_value/')
         $.get('${SITE_URL}get_server_value/')
         $.get('${SITE_URL}get_network_server_flow_value/')
         $.get('${SITE_URL}get_business_cpu/')
     }
        setInterval("count()",60000)
</script>
<script>

        $.get('${SITE_URL}get_count_server/', function (data) {
            if (data.result) {
                var message = data.result;
                let [normal_server, abnormal_server, count_server] = [0, 0, Object.keys(message).length]
                for (var i in message) {
                    if (message[i].status == "0")
                        normal_server++
                    else
                        abnormal_server++
                    $("#count_server").html(count_server + "台")
                    $("#normal_server").html("正常:" + normal_server)
                    $("#abnormal_server").html("故障:" + abnormal_server)
                    $("#warn_sever").html("告警:" + data.warn)
                }
            } else {
                alert("获取失败")
            }
        }, 'json')

</script>
<script>
    $.get('${SITE_URL}get_count_network_server/',function (data) {
    if(data.result){
        var message = data.result;
        let [normal_network_server,abnormal_network_server,count_network_server] = [0,0,Object.keys(message).length]
        for(var i in message){
            if(message[i].status == "0")
                normal_network_server++
            else
                abnormal_network_server++
        $("#count_network_server").html(count_network_server+"台")
        $("#normal_network_server").html("正常:"+normal_network_server)
        $("#abnormal_network_server").html("故障:"+abnormal_network_server)
        $("#warn_network_sever").html("告警:"+data.warn)
}
    }
    else {
        alert("获取失败")
    }
},'json')
</script>
<script>
    function renderTpl(str, cfg) {
            var re = /(#(.+?)#)/g;

            return str.replace(re, function() {
                var val = cfg[arguments[2]]+'';
                if(typeof val == 'undefined') {
                    val = '';
                }
                return val;
            });
        }

        function initList2(conf){
            // 异步请求后台数据
            $.ajax({
                url: conf.url,
                type: 'GET',
                dataType: conf.dataType,
                success: function(res){
                //获取数据成功
                        var newres =  res.message
                        var _html = ' ';
                        var list = res.message;
                        var tpl = $('#cpu_tpl').html();
                        var headerTpl =  $('#list2_header_tpl').html();
                        if (list.length == 0){
                            _html = $('#list2_nodata_tpl').html();
                        }else{
                            for (var i=0,len=list.length; i < len; i++){
                                var item = list[i];
                                _html += renderTpl(tpl, item)
                            }
                        }
                        $(conf.container).find('.ranger-box tbody').html(_html);
                        $(conf.container).find('.ranger-header-box thead').html(renderTpl(headerTpl));
                }
            });
        }
    initList2({
            url: '${SITE_URL}get_sql/get_netwokr_server_cpu_in_sql/',
            dataType: 'json',
            container: '#wangluo_cpu'
        });
setInterval(function initList2(conf){
            // 异步请求后台数据
            $.ajax({
                url: '${SITE_URL}get_sql/get_netwokr_server_cpu_in_sql/',
                type: 'GET',
                dataType: 'json',
                success: function(res){
                //获取数据成功
                        var newres =  res.message
                        var _html = ' ';
                        var list = res.message;
                        var tpl = $('#cpu_tpl').html();
                        var headerTpl =  $('#list2_header_tpl').html();
                        if (list.length == 0){
                            _html = $('#list2_nodata_tpl').html();
                        }else{
                            for (var i=0,len=list.length; i < len; i++){
                                var item = list[i];
                                _html += renderTpl(tpl, item)
                            }
                        }
                        $("#wangluo_cpu").find('.ranger-box tbody').html(_html);
                        $("#wangluo_cpu").find('.ranger-header-box thead').html(renderTpl(headerTpl));
                }
            });
        },60000)
</script>
<script>
    function renderTpl(str, cfg) {
            var re = /(#(.+?)#)/g;

            return str.replace(re, function() {
                var val = cfg[arguments[2]]+'';
                if(typeof val == 'undefined') {
                    val = '';
                }
                else if(typeof val == 0 ){
                    val = '暂无数据'
                }
                return val;
            });
        }

        function initList2(conf){
            // 异步请求后台数据
            $.ajax({
                url: conf.url,
                type: 'GET',
                dataType: conf.dataType,
                success: function(res){
                //获取数据成功

                        var _html = ' ';
                        var list = res.message;

                        var tpl = $('#server_tpl').html();
                        var headerTpl =  $('#server_header_tpl').html();
                        if (list.length == 0){
                            _html = $('#list2_nodata_tpl').html();
                        }else{
                            for (var i=0,len=list.length; i < len; i++){
                                var item = list[i];
                                _html += renderTpl(tpl, item)
                            }
                        }
                        $(conf.container).find('.ranger-box tbody').html(_html);
                        $(conf.container).find('.ranger-header-box thead').html(renderTpl(headerTpl));
                }
            });
        }
    initList2({
            url: '${SITE_URL}get_sql/get_server_value_in_sql/',
            dataType: 'json',
            container: '#disk_sum'
        })
    setInterval(function initList2(conf){
            // 异步请求后台数据
            $.ajax({
                url: '${SITE_URL}get_sql/get_server_value_in_sql/',
                type: 'GET',
                dataType: 'json',
                success: function(res){
                //获取数据成功

                        var _html = ' ';
                        var list = res.message;

                        var tpl = $('#server_tpl').html();
                        var headerTpl =  $('#server_header_tpl').html();
                        if (list.length == 0){
                            _html = $('#list2_nodata_tpl').html();
                        }else{
                            for (var i=0,len=list.length; i < len; i++){
                                var item = list[i];
                                _html += renderTpl(tpl, item)
                            }
                        }
                        $('#disk_sum').find('.ranger-box tbody').html(_html);
                        $('#disk_sum').find('.ranger-header-box thead').html(renderTpl(headerTpl));
                }
            });
        },60000)
</script>
<script>
    function renderTpl(str, cfg) {
            var re = /(#(.+?)#)/g;

            return str.replace(re, function() {
                var val = cfg[arguments[2]]+'';
                if(typeof val == 'undefined') {
                    val = '';
                }
                else if(typeof val == 0 ){
                    val = '暂无数据'
                }
                return val;
            });
        }

        function initList2(conf){
            // 异步请求后台数据
            $.ajax({
                url: conf.url,
                type: 'GET',
                dataType: conf.dataType,
                success: function(res){
                //获取数据成功
                        var _html = ' ';
                        var list = res.message;
                        for(var i=0,len=list.length; i < len; i++){
                            var newvalue = list[i].value/8192;
                            newvalue = newvalue.toFixed(2);
                            list[i].value = newvalue;
                        }
                        var tpl = $('#flow_tpl').html();
                        var headerTpl =  $('#server_flow_header_tpl').html();
                        if (list.length == 0){
                            _html = $('#list2_nodata_tpl').html();
                        }else{
                            for (var i=0,len=list.length; i < len; i++){
                                var item = list[i];
                                _html += renderTpl(tpl, item)
                            }
                        }
                        $(conf.container).find('.ranger-box tbody').html(_html);
                        $(conf.container).find('.ranger-header-box thead').html(renderTpl(headerTpl));
                }
            });
        }
    initList2({
            url: '${SITE_URL}get_sql/get_netwokr_server_flow_in_sql',
            dataType: 'json',
            container: '#flow_sum'
        });
    setInterval(function initList2(conf){
            // 异步请求后台数据
            $.ajax({
                url: '${SITE_URL}get_sql/get_netwokr_server_flow_in_sql',
                type: 'GET',
                dataType: 'json',
                success: function(res){
                //获取数据成功
                        var _html = ' ';
                        var list = res.message;
                        for(var i=0,len=list.length; i < len; i++){
                            var newvalue = list[i].value/8192;
                            newvalue = newvalue.toFixed(2);
                            list[i].value = newvalue;
                        }
                        var tpl = $('#flow_tpl').html();
                        var headerTpl =  $('#server_flow_header_tpl').html();
                        if (list.length == 0){
                            _html = $('#list2_nodata_tpl').html();
                        }else{
                            for (var i=0,len=list.length; i < len; i++){
                                var item = list[i];
                                _html += renderTpl(tpl, item)
                            }
                        }
                        $('#flow_sum').find('.ranger-box tbody').html(_html);
                        $('#flow_sum').find('.ranger-header-box thead').html(renderTpl(headerTpl));
                }
            });
        },60000)
</script>

<script>

        function createLine(conf) {
            var data={
            //折线图需要为每个数据点设置一标签。这是显示在X轴上。
            labels: conf.data.date.reverse(),
            //数据集（y轴数据范围随数据集合中的data中的最大或最小数据而动态改变的）
            datasets: [{
                label: '服务器',
                backgroundColor: "rgba(243,183,96,0)", //背景填充色
                borderColor: "#f3b760", //路径颜色
                pointBackgroundColor: "#36A2EB", //数据点颜色
                pointBorderColor: "#fff", //数据点边框颜色
                data: conf.data.fuwuqi.reverse() //对应的值
            },
            {
                label: '网络设备',
                backgroundColor: "rgba(68,181,73,0)", //背景填充色
                borderColor: "#44B549", //路径颜色
                pointBackgroundColor: "#36A2EB", //数据点颜色
                pointBorderColor: "#fff", //数据点边框颜色
                data: conf.data.wangluo.reverse() //对应的值
            }]
        };

        var ctx = document.getElementById("myChart").getContext('2d');
        var myLineChart = new Chart(ctx, {
            type: 'line',
            data: data,
            options: {
                title: {
                    text : '告警趋势图',
                    display: true,
                },
            }
        });
        }
    function initKendoLineChart(conf){
        // 异步请求后台数据
        $.ajax({
            url: conf.url,
            type: 'GET',
            dataType: conf.dataType,
            success: function(res){
                    var data = res
                    createLine({
                        data: data, // 图表数据
                    });
            }
        })
}
        initKendoLineChart({
            url: '${SITE_URL}get_sql/get_warn_sum_count/',
            dataType: 'json',
        });
    setInterval(function initKendoLineChart(conf){
        // 异步请求后台数据
        $.ajax({
            url: '${SITE_URL}get_sql/get_warn_sum_count/',
            type: 'GET',
            dataType: 'json',
            success: function(res){
                    var data = res
                    createLine({
                        data: data, // 图表数据
                    });
            }
        })
    },60000)

</script>
<script>
        function createLine_yewu(conf) {
            var data={
            //折线图需要为每个数据点设置一标签。这是显示在X轴上。
            labels: conf.data.date.reverse(),
            //数据集（y轴数据范围随数据集合中的data中的最大或最小数据而动态改变的）
            datasets: [{
                label: 'zabbix',
                backgroundColor: "rgba(243,183,96,0)", //背景填充色
                borderColor: "#f3342d", //路径颜色
                pointBackgroundColor: "#eb50eb", //数据点颜色
                pointBorderColor: "#fff", //数据点边框颜色
                data: conf.data.fuwuqi.reverse() //对应的值
            },
            ]
        };

        var ctx1 = document.getElementById("myChart_yewu").getContext('2d');
        var myLineChart = new Chart(ctx1, {
            type: 'line',
            data: data,
            options: {
                title: {
                    text : '业务系统CPU趋势图',
                    display: true,
                },
            }
        });
        }
    function initKendoLineChart_yewu(conf){
        // 异步请求后台数据
        $.ajax({
            url: conf.url,
            type: 'GET',
            dataType: conf.dataType,
            success: function(res){
                    var data = res
                    createLine_yewu({
                        data: data, // 图表数据
                    });
            }
        })
}
        initKendoLineChart_yewu({
            url: '${SITE_URL}get_sql/get_yewu_value/',
            dataType: 'json',
        });
    setInterval(function initKendoLineChart_yewu(conf){
        // 异步请求后台数据
        $.ajax({
            url: '${SITE_URL}get_sql/get_yewu_value/',
            type: 'GET',
            dataType: 'json',
            success: function(res){
                    var data = res
                    createLine_yewu({
                        data: data, // 图表数据
                    });
            }
        })
    },60000)
</script>
<script>
        function createLine_yewu(conf) {
            var data={
            //折线图需要为每个数据点设置一标签。这是显示在X轴上。
            labels: conf.data.date.reverse(),
            //数据集（y轴数据范围随数据集合中的data中的最大或最小数据而动态改变的）
            datasets: [{
                label: 'zabbix',
                backgroundColor: "rgba(243,183,96,0)", //背景填充色
                borderColor: "#f3342d", //路径颜色
                pointBackgroundColor: "#eb50eb", //数据点颜色
                pointBorderColor: "#fff", //数据点边框颜色
                data: conf.data.fuwuqi.reverse() //对应的值
            },
            ]
        };

        var ctx1 = document.getElementById("myChart_yewu").getContext('2d');
        var myLineChart = new Chart(ctx1, {
            type: 'line',
            data: data,
            options: {
                title: {
                    text : '业务系统CPU趋势图',
                    display: true,
                },
            }
        });
        }
    function initKendoLineChart_yewu(conf){
        // 异步请求后台数据
        $.ajax({
            url: conf.url,
            type: 'GET',
            dataType: conf.dataType,
            success: function(res){
                    var data = res
                    createLine_yewu({
                        data: data, // 图表数据
                    });
            }
        })
}
        initKendoLineChart_yewu({
            url: '${SITE_URL}get_sql/get_yewu_value/',
            dataType: 'json',
        });
    setInterval(function initKendoLineChart_yewu(conf){
        // 异步请求后台数据
        $.ajax({
            url: '${SITE_URL}get_sql/get_yewu_value/',
            type: 'GET',
            dataType: 'json',
            success: function(res){
                    var data = res
                    createLine_yewu({
                        data: data, // 图表数据
                    });
            }
        })
    },60000)
</script>
<script>
        function createLine_shujuku(conf) {
            var data={
            //折线图需要为每个数据点设置一标签。这是显示在X轴上。
            labels: [10.1,10.2,10.3,10.4,10.5],
            //数据集（y轴数据范围随数据集合中的data中的最大或最小数据而动态改变的）
            datasets: [{
                label: 'zabbix',
                backgroundColor: "rgba(243,183,96,0)", //背景填充色
                borderColor: "#4A9BFF", //路径颜色
                pointBackgroundColor: "#5512eb", //数据点颜色
                pointBorderColor: "#fff", //数据点边框颜色
                data: [8,7,5,6,3] //对应的值
            },
            ]
        };

        var ctx2 = document.getElementById("myChart_shujuku").getContext('2d');
        var myLineChart = new Chart(ctx2, {
            type: 'line',
            data: data,
            options: {
                title: {
                    text : '服务器CPU趋势图',
                    display: true,
                },
            }
        });
        }
    function initKendoLineChart_shujuku(conf){
        // 异步请求后台数据
        $.ajax({
            url: conf.url,
            type: 'GET',
            dataType: conf.dataType,
            success: function(res){
                    var data = res
                    createLine_shujuku({
                        data: data, // 图表数据
                    });
            }
        })
}
        initKendoLineChart_shujuku({
            url: '${SITE_URL}get_sql/get_yewu_value/',
            dataType: 'json',
        });
</script>




